<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User page</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<input type="button"  onclick="location.href='http://localhost:8080/main'" value="Go to the main page"><br/>
<h1>List of Albums of user details</h1>
<div class = "main_container">
  <div class="row">
    <div class="left">User Id:</div>
    <div class="left" th:text="${album1.userId}"></div><br/>
    <div class="left">Album Id:</div>
    <div class="left" th:text="${album1.id}"></div><br/>
    <div class="left">Title: </div>
    <div class="left" th:text="${album1.title}"></div><br/>
  </div><br/>
  <div class="row">
    <div class="left">User Id:</div>
    <div class="left" th:text="${album2.userId}"></div><br/>
    <div class="left">Album Id:</div>
    <div class="left" th:text="${album2.id}"></div><br/>
    <div class="left">Title: </div>
    <div class="left" th:text="${album2.title}"></div><br/>
  </div><br/>
  <div class="row">
    <div class="left">User Id:</div>
    <div class="left" th:text="${album3.userId}"></div><br/>
    <div class="left">Album Id:</div>
    <div class="left" th:text="${album3.id}"></div><br/>
    <div class="left">Title: </div>
    <div class="left" th:text="${album3.title}"></div><br/>
  </div><br/>
  <div class="row">
    <div class="left">User Id:</div>
    <div class="left" th:text="${album4.userId}"></div><br/>
    <div class="left">Album Id:</div>
    <div class="left" th:text="${album4.id}"></div><br/>
    <div class="left">Title: </div>
    <div class="left" th:text="${album4.title}"></div><br/>
  </div><br/>
  <div class="row">
    <div class="left">User Id:</div>
    <div class="left" th:text="${album5.userId}"></div><br/>
    <div class="left">Album Id:</div>
    <div class="left" th:text="${album5.id}"></div><br/>
    <div class="left">Title: </div>
    <div class="left" th:text="${album5.title}"></div><br/>
  </div><br/>
</div>

</body>
</html>