<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>This is main page</title>
</head>
<body>
<h1>Please select a user id and press button</h1>
<p>*hint: type id '0' lo list all resource</p>
<label>User ID: </label>
<input type="number" id="user_id" value="1">
<input type="button"  onclick="user()" value="Search for user" ><br/>
<label>Album ID: </label>
<input type="number" id="album_id" value="1">
<input type="button"  onclick="album()" value="Search for album" ><br/>
<input type="button"  onclick="window.location.href='http://localhost:8080/useradd';" value="Add user" ><br/><br>
<form method="post" action="/addUser">
    <label for="id">Id:</label>
    <input type="numer" id="id" name="id" required><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required><br>
    <button type="submit">Add User</button>
</form>



</body>
<script>
          function user(){
          var id =document.getElementById("user_id").value;
          if(id==0) window.open("http://localhost:8080/users", "_self");
          else window.open("http://localhost:8080/user/"+id, "_self");
          }
          function album(){
          var id =document.getElementById("album_id").value;
          if(id==0) window.open("http://localhost:8080/albums", "_self");
          else window.open("http://localhost:8080/albums/"+id, "_self");
          }
</script>
</html>