<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<head>
    <title>This is main page</title>
</head>
<body>
<p>this site is still under construction</p>
<h1>Please select a user id and press button</h1>
<p>*hint: type id '0' lo list all resource</p>
<label>User ID: </label>
<input type="number" id="user_id" value="1">
<input type="button"  onclick="user()" value="Search for user" ><br/>
<label>Album ID: </label>
<input type="number" id="album_id" value="1">
<input type="button"  onclick="album()" value="Search for album" ><br/>
<input type="button"  onclick="window.location.href='http://localhost:8080/useradd';" value="Add user" ><br/><br>
<h3>Create User:</h3>
<form action="#" th:action="@{/addUser}" method="post" th:object="${user}">
    <label>Name:</label>
    <input type="text" field="*{name}" name="name" required><br>
    <label>User Name:</label>
    <input type="text" field="*{username}" name="username" required><br>
    <label>Email:</label>
    <input type="email" field="*{email}" name="email" required><br>
    <label>Phone:</label>
    <input type="tel" field="*{phone}" name="phone" required><br>
    <label >website:</label>
    <input type="text" field="*{website}" name="website" required><br>
    <label>address, streeet:</label>
    <input type="text" field="*{address.street}" name="address.street" required><br>
    <label>Address, suite:</label>
    <input type="text" field="*{address.suite}" name="address.suite" required><br>
    <label>Address, city:</label>
    <input type="text" field="*{address.city}" name="address.city" required><br>
    <label>Address, zipcode:</label>
    <input type="text" field="*{address.zipcode}" name="address.zipcode" required><br>
    <label>Address, geo, lat:</label>
    <input type="text" field="*{address.geo.lat}" name="address.geo.lat" required><br>
    <label>Address, geo, lng:</label>
    <input type="text" field="*{address.geo.lng}" name="address.geo.lng" required><br>
    <label>company, name:</label>
    <input type="text" field="*{company.name}" name="company.name" required><br>
    <label>company, catchPhrase:</label>
    <input type="text" field="*{company.catchPhrase}" name="company.catchPhrase" required><br>
    <label>company, bs:</label>
    <input type="text" field="*{company.bs}" name="company.bs" required><br>
    <button type="submit">Add User</button>
</form>
<br>
<h3>Edit User:</h3>
<form th:action="@{/users}" th:object="${user}" method="post" id="editusr">
    <label>Id:</label>
    <input type="number" field="*{id}" id="id" name="id" required><br>
    <label>Name:</label>
    <input type="text" field="*{name}" name="name" ><br>
    <label>User Name:</label>
    <input type="text" field="*{username}" name="username" ><br>
    <label>Email:</label>
    <input type="email" field="*{email}" name="email" ><br>
    <label>Phone:</label>
    <input type="tel" field="*{phone}" name="phone" ><br>
    <label >website:</label>
    <input type="text" field="*{website}" name="website" ><br>
    <label>address, streeet:</label>
    <input type="text" field="*{address.street}" name="address.street" ><br>
    <label>Address, suite:</label>
    <input type="text" field="*{address.suite}" name="address.suite" ><br>
    <label>Address, city:</label>
    <input type="text" field="*{address.city}" name="address.city" ><br>
    <label>Address, zipcode:</label>
    <input type="text" field="*{address.zipcode}" name="address.zipcode" ><br>
    <label>Address, geo, lat:</label>
    <input type="text" field="*{address.geo.lat}" name="address.geo.lat" ><br>
    <label>Address, geo, lng:</label>
    <input type="text" field="*{address.geo.lng}" name="address.geo.lng" ><br>
    <label>company, name:</label>
    <input type="text" field="*{company.name}" name="company.name" ><br>
    <label>company, catchPhrase:</label>
    <input type="text" field="*{company.catchPhrase}" name="company.catchPhrase" ><br>
    <label>company, bs:</label>
    <input type="text" field="*{company.bs}" name="company.bs" ><br>
    <button type="submit">Edit User</button>
</form>

</body>
<script type="text/javascript">
document.getElementById("editusr").addEventListener("submit", function(e) {
    e.preventDefault();
    var id = document.getElementById("id").value;
    var form = document.getElementById("editusr");
    form.action = "/users/" + id;
    form.submit();
});
          function user(){
          var id =document.getElementById("user_id").value;
          if(id==0) window.open("http://localhost:8080/users", "_self");
          else window.open("http://localhost:8080/user/"+id, "_self");
          }
          function album(){
          var id =document.getElementById("album_id").value;
          if(id==0) window.open("http://localhost:8080/albums", "_self");
          else window.open("http://localhost:8080/albums/"+id, "_self");
          }
</script>
</html>