<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<input type="button"  onclick="location.href='http://localhost:8080/main'" value="Go to the main page"><br/>
<h1>Add new user</h1>
<div class = "main_container">
    <div class="row">
        <div class="left">User Id:</div>
        <input class="left" id="${user1.id}"></input>
    </div>

    <div class="row">
        <div class="left">Name: </div>
        <input class="left" id="${user1.name}"></input>
    </div>

    <div class="row">
        <div class="left">Email: </div>
        <input class="left" id="${user1.email}"></input>
    </div>

    <div class="row">
        <div class="left">Address: </div><br/>
        <div class="left">Address street: </div><input type="text" class="left" id="${address1.street}"></input><br/>
        <div class="left">Address suite: </div><input type="text" class="left" id="${address1.suite}"></input><br/>
        <div class="left">Address city: </div><input type="text" class="left" id="${address1.city}"></input><br/>
        <div class="left">Address zipcode: </div><input type="text" class="left" id="${address1.zipcode}"></input>
    </div>

    <div class="row">
        <div class="left">Geo: </div><br/>
        <div class="left">Geo lat: </div><input type="text" class="left" id="${geo1.lat}"></input><br/>
        <div class="left">Geo lng: </div><input type="text" class="left" id="${geo1.lng}"></input>
    </div>

    <div class="row">
        <div class="left">Company: </div><br/>
        <div class="left">Company name: </div><input type="text" class="left" id="${company1.name}"></input><br/>
        <div class="left">Company bs: </div><input type="text" class="left" id="${company1.bs}"></input>
    </div>
</div>

</body>
</html>