<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<input type="button"  onclick="location.href='http://localhost:8080/main'" value="Go to the main page"><br/>
<h1>Users List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Company name</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.company.name}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>